/*
animation-name: none
animation-duration: 0s
animation-timing-function: ease
animation-delay: 0s
animation-iteration-count: 1
animation-direction: normal
animation-fill-mode: none
animation-play-state: running
*/

html {
    font-size: 4vw;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%
}

body {
    color: red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    width: 1em; height: 1em;
    fill: currentColor;
}

.circle {
    font-size: 8rem;
    animation-name: movebitch;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
    animation-timing-function: ease-in-out;
}

@keyframes movebitch {
  0% { left: 0px; top: 0rem; width: 1rem;}
  50% { top: 8rem;}
  100% { left: 65vw; top: 0rem; width: 8.3rem;}
}
