<% include partials/header %>
<h1>What we've got</h1>
<h2>Besides this hideous layout</h2>
<div>
<% model.forEach(function(model){ %>
    <li>
        <%= model.model %>
        <img src=<%=model.img%>></img>
        <a href="/guitars/<%=model._id%>">more or less less info</a>
    </li>
<% });%>

</div>

<% include partials/footer %>