html{
  background-color: aqua;
}

body{
  width: 70%;
  background-color: yellow;
  margin: 5px auto;
  border: 10px solid black;
  border-radius: 4%;
}

img{

  display: block;
  margin: 25px auto;
  border-radius: 60%;
  border: 10px ridge gold;
}

#Primary {
  color: blue;
  font-size: 28px;

}

#Secondary {
  color: white;
  background-color: black;
  font-size: 28px;
}

body > *{
  margin: 8px 13px;
}

article::first-letter{
  font-size: 20px;
  color: tomato;
}

article::first-line {
  font-size: 18px;
  font-family: color: #125;
}
