<h1>I <%= thingVar.toUpperCase()%> THIS</h1>

<% if(thingVar.toLowerCase() === "rusty"){ %>
    <p>Good Choice, Rusty is the best</p>
<% } else {   %>
    <p>Bad Choice, Rusty is the best</p>
<% } %>
<img width="350px" src="https://fthmb.tqn.com/B3Itf6pFNcXd8M3BVJxnt3_coas=/960x0/filters:no_upscale()/Biting-UweKrejci-Getty-56a7a3415f9b58b7d0ec54d4.jpg">