h1 {
  font-family: sans-serif;
  font-variant: small-caps;
  font-size: 2rem;
  font-weight: normal;
  text-transform: capitalize;
  line-height: 1.42;
  letter-spacing: .85rem;
  color: aqua;
  word-spacing: 1.5rem;
}
