div {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 45%;
    display: inline-block;
}

img {
    width: 200px;
    border: 10px groove blue;
    padding: 15px;
    box-sizing: border-box;
}

.dogone {
    border: 35px dashed orangered;
}

.dogtwo {
    border: 35px dotted orangered;
}

.dogthree {
    border: 35px double orangered;
}
