.btn {
  background-color: red;
  text-align: center;
  border-radius: 10px;
  font-size: 1em;
  padding: 15px;
  color: white;
}

.btn:hover {
  background-color: crimson;
  cursor: pointer;
}

.gameTile {
  display: inline-block;
}
