html, body, div, h1, h2, h3, header, button {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#atf {
  height: 100vh;
  background-color: deepskyblue;
  background-image: url("../img/main.jpg");
  background-size: cover;
  background-position: 40%;
  font-family: "Quicksand", sans-serif;
  /* FlexBox */
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
}

h1 {
  font: bold 60px "Open Sans", sans-serif;
}

header {
  order: -1;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 50px 70px;
  opacity: 0;
  animation: 390ms ease-out 900ms headerFade forwards;
}

nav {
  display: flex;
  flex-wrap: wrap;
  transition: all 350ms linear;
}

@media all and (max-width: 680px) {
  nav {
    flex-flow: column;
    margin: 9px;
  }

  a {
    margin: 5px;
  }
}

a {
  color: white;
  text-decoration: none;
  padding: 0 35px;
  opacity: .6;
  transition: all 190ms linear;
}

a:hover {
  opacity: 1;
}

#dummy {
  height: 150px;
}

h2 {
  margin: 40px 0;
}

button {
  outline: none;
  border: none;
  background-color: royalblue;
  color: white;
  padding: 15px 32px;
  border-radius: 4px;
  font-family: "Quicksand", sans-serif;
  font-variant: small-caps;
  font-size: 24px;
  transition: all 320ms ease-in;
  border: 3px solid transparent;
}

button:hover {
  border: 3px solid royalblue;
  background-color: transparent;
  cursor: pointer;
}
/* Animation */
div#title {
  transform: translateY(100px);
  opacity: 0;
  animation: 880ms ease 1170ms titleAnimation forwards;
}

@keyframes titleAnimation {
  100% {
    transform: translateY(30px);
    opacity: 1;
  }
}

@keyframes headerFade {
  100% {
    opacity: 1;
  }
}
