div{
  width: 400px;
  height: 200px;
  border: 10px dashed red;
  margin: 29px auto;
  box-sizing: border-box;
  background-image: url('pup.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
