html {
  background-color: black;
  color: ghostwhite;
  font-family: 'Poiret One', cursive;
  font-size: 2.4rem;
  font-variant: small-caps;
}

#idx-atf {
  background-image: url("guitar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-origin: border-box;
}

.idx-center > div {
  height: 85vh;
}

.idx-center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

label {
  border: 2px solid ghostwhite;
  margin-top: 15px;
  padding: 3px;
  background-color: rgba(95,55,11,.21);
  border-radius: 4px;
}

h1, h2 {
  background-color: rgba(95,55,11,.61);
  padding: 5px;
  border-radius: 8px;
}

h1 {
  margin-bottom: 15px;
}

label:hover {
  background-color: rgba(95,55,11,.71);
}

input {
  display: none;
}

#sidebar {
  position: fixed;
  height: 100%;
  width: 100%;
  left: -100%;
  background-color: rgba(249, 113, 235, 0.25);
  transition-property: all;
  transition-duration: 1s;
  /* FlexBox */
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:checked ~ #sidebar {
  left: 0%;
}

input[type="checkbox"]:checked ~ label {
  transition-property: all;
  transition-duration: .5s;
  display: none;
};

input {
  display: none;
}

#sidebar2 {
  position: fixed;
  height: 100%;
  width: 100%;
  left: -100%;
  background-color: rgba(249, 113, 235, 0.25);
  transition-property: all;
  transition-duration: 1s;
}

input[type="checkbox"]:checked ~ #sidebar2 {
  left: 0%;
}
