button {
  height: 90px;
  width: 100px;
  font-size: 2rem;
  font-variant-caps: small-caps;
  text-shadow: 8px -7px 1px blue;
  transition-property: width, height, font-size, text-shadow, font-variant-caps;
  transition-duration: 2s, 5s, 0.3s, 4s, 10s;
  transition-timing-function: ease-in-out, linear, ease-in, cubic-bezier(), ease;
}

div {
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.huge {
  height: 300px;
  width: 200px;
  font-size: 4rem;
  text-shadow: 2px 1px 5px gray;
  font-variant-caps: normal;
}
