body {
  background-color: #bdc3c7;
}

h1 {
  background-color: #9b59b6;
}

h2 {
  background-color: orange;
}

li {
  color: deepskyblue;
}

p {
  background-color: yellow;
}

input {
  border: 3px solid red;
}

.hello {
  background-color: white;
}

#special {
  border: 2px solid royalblue;
}

div p {
  font-size: 25px;
}

input[type="text"] {
  background-color: gray;
}

div:nth-of-type(3) p {
  background-color: hotpink;
}

div:nth-of-type(3) p:last-child {
  border: 5px solid white;
}

em {
  color: white;
  font-size: 20px;
}

input:checked {
  transition-property: all;
  transition-duration: 2s;
  margin-left: 50px;
}

label {
  text-transform: uppercase;
}

#special::first-letter {
    background-color: green;
    color: white;
    font-size: 100px;
}

h1:hover {
  background-color: blue;
}

a:visited {
  color: gray;
}
