div {
  border-radius: 100%;
  position: fixed;
  bottom: -99px;
  left: -99px;
  background-color: yellow;
  box-shadow: 0px 0px 25px 8px yellow;
  height: 100px;
  width: 100px;
  animation-name: sun-animations;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  filter: blur();
  transform-origin: 50vw 50vh;
}

body {
  background-color: deepskyblue;
  animation-name: sky-color;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes sky-color {
  0% {
    background-color: black;
  }
  23% {
    background-color: royalblue;
  }
  35% {
    background-color: deepskyblue;
  }
  72% {
    background-color: royalblue;
  }
  100% {
    background-color: black;
  }
}

@keyframes sun-animations {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
    box-shadow: 0px 0px 38px 18px yellow;
  }
  100% {
    transform: rotate(180deg);
  }
}
