html {
  /* border: 3px solid hotpink; */
}

div {
  /* border: 3px solid crimson; */
  }

section {
  /* border: 3px solid mediumpurple; */
}


#idx-atf {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-origin: border-box;
  background-attachment: fixed;
}

.idx-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
