img {
  float: right;
  border: 8px solid bisque;
}

nav {
  border: 8px solid beige;
  float: left;
  padding: 12px;
}

ul {
  list-style: none;
  position: relative;
  bottom: 5px;
  right: 17px;
  font-size: 2rem;
}
