header {
  position: fixed;
  width: 100%;
  height: 57px;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}


header nav, header div {
  width: 270px;
  height: 80%;
  margin: 0 1rem;
  display: flex;
  align-content: center;
  justify-content: space-around;
  fill: rgba(200,0,110,.5);
}

header div {
  justify-content:
}

#logo {
  width: 490px;
}

.svg-header:hover {
  fill: rgba(200,0,110,.85);
}

#ccc {
    color: rgba(200,0,110,.85);
    font-size: 1.4rem;
    text-align: center;
}

#ccc:hover {
    color:  rgba(200,0,110,1);
}
