html {
  font-size: 3rem;
}

.d1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-row: minmax(180px, auto;)
  padding: 15px;
  align-items: center;
  /* justify-items: center; */
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;

}

.d1 div {
  background-color: tomato;
}

div div:nth-child(odd) {
  border: 3px solid black;
}

div div:nth-child(even) {
  border: 5px groove olive;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 190px;
  /* Alleys or Gaps */
  grid-column-gap: 15px;
  grid-row-gap: 1em;
}
