<% friends.forEach(function(friend){ %>
    <li> <%= friend %> </li>
<% }); %>
<form action="/new" method="POST">
    <input type="text" placeholder="name" name="newFriend">
    <button>I made a new friend</button>
</form>