<% include partials/header %>
<h1>Home page</h1>
<% blogs.forEach(function(blog){ %>
    <div>
        <h2><%= blog.title %></h2>
        <img src="<%=blog.image%>" alt="one rose with wicked colors">
        <p><%=blog.body%></p>
        <p><%=blog.created%></p>
    </div>
<% }); %>
<% include partials/footer %>