html {
  font-size: 1vw;
  text-align: center;
  margin: 5px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 10rem;
  font-weight: 100;
  color: #484848;
  letter-spacing: -1px;
}

figure {
  /* FlexBox */
  display: flex;
  align-items: center;
  justify-content: center;
}

figure * {
  font-size: 9rem;
  color: white;
}

figcaption{
  /* FlexBox */
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  /* Formating */
  height: 55%;

}

.main-image {
  width: 100%;
  height: 540px;
  background-image: url("../images/fam_blur_under_600_web_medium.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

.image-text {
  font-size: 18rem;
  font-weight: 900;
  font-family: 'Lobster', cursive;
}

h3 {
  font-size: 6rem;
  line-height: 1.8;
  margin: 15px;
}

a {
  background: crimson;
  border-radius: 13px;
  color: white;
  padding: 10px;
  font-variant: small-caps;
  font-size: 7rem;
}
