html {
  background-color: darkgray;
  font-family: 'Cantarell', sans-serif;
  color: ghostwhite;
  font-variant: small-caps;
}

#idx-atf {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  background-image: url("../img/background-photo-mobile-devices.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-origin: border-box;
  background-attachment: fixed;
}

#idx-atf > div {
  height: 85vh;
}

.idx-center-spacebetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 2.8rem;
}

h2, h3 {
  font-size: 1.7rem;
}

h3 {
  font-weight: 700;
  margin-bottom: .7rem;
}
button {
  padding: 0.7rem;
  border: .05rem solid ghostwhite;
  border-radius: 9px;
  background-color: rgba(200,0,110,.11);
}

button:hover {
  background-color: rgba(200,0,110,.5);
}
