body {
  width: 70%;
  max-width: 650px;
  border: 1px solid hotpink;
  margin: 0 auto;
}

nav {
  width: 29%;
  border: 1px dashed green;
  display: inline-block;
  box-sizing: border-box;
  margin: 2px;
  vertical-align: top;
}

main {
  width: 70%;
  border: 1px dashed green;
  display: inline-block;
  box-sizing: border-box;
}
