html, body, div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* Flex-Box */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
  height: 100vh;
}

#counter {
  /* Flex-Box */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Formating */
  width: 900px;
  height: 480px;
  border: 2px solid royalblue;
  border-radius: 20px;
}

#count1, #count3 {
  /* Flex Item */
  flex-grow: 1;
  /* Flex-Box */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Formating */
  height: 100%;
  background-color: hotpink;
  color: white;
}

#count2 {
  /* Flex Item */
  flex-grow: 2;
  /* Flex-Box */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Formating */
  height: 100%;
  background-color: lawngreen;
  color: white;
  border-left: 2px solid royalblue;
  border-right: 2px solid royalblue;
}

/* Border-Radius */
#count1 {
  border-radius: 18px 0 0 18px;
}

#count3 {
  border-radius: 0 18px 18px 0;
}

#count1:hover, #count3:hover {
  background-color: rgba(28, 103, 135, 0.51);
  cursor: pointer;
}
