html
  head
    title Čet
    link(rel="stylesheet", href="bootstrap.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
        a.navbar-brand(href="/") eChat
      .container
        .row
          .col-md-8
            #userFormWrap
              h1 Create Username
              form#userForm
                input#username.form-control(type="text", placeholder="username")
                br
                button.btn.btb-default(type="submit") submit
            #mainWrap
              h1 Speak your mind
              form#chatForm
                .form-group
                  textarea#chatInput.form-control(name="body", placeholder="say something")
                  br
                  button.btn-btn-default(type="submit")
          .col-md-4
            h3 Chat Users
            ul.list-group
              #users
