body {
  display: flex;
  justify-content: center;
  border: 3px solid rgba(108, 190, 21, 0.73);
  height: 500px;
  align-items: center;
}

div {
  border: 2px groove rgb(90, 29, 164);
  flex-basis: 100px;
}

.nested {
  display: contents;
}

/* Only Firefox? */
