div{
  border: 3px solid black;
  height: 5rem;
  width: 5rem;
  border-radius: 3% 11% 80% 11%;
  background-image: url("PyCharm.png");
  background-size: 135%;
  background-position: center;
  box-sizing: border-box;
}
