<% include partials/header %>

<form action="/" method="POST">
  <div class="new" id="atf-x">
    <input class="ui basic blue button" type="text" name="form[color]" value="">
    <input class="ui basic green button" type="submit" value="Make Button">
  </div>
</form>
<% include partials/header %>