h1 {
  font-family: Roboto, sans-serif;
  font-variant: small-caps;
  font-size: 2rem;
  font-weight: normal;
  text-transform: capitalize;
  line-height: 1.42;
  letter-spacing: .25rem;
  color: aqua;
  background-color:
  word-spacing: 1.5rem;
}

#one {
  font-weight: 100;
}

#two {
  font-weight: 400;
}

#tri {
  font-weight: 900;
}
