<h2>Home page</h2>
<li><a class="btn btn-primary btn-lg active" href="/register">Sign up</a></li>
<li><a class="btn btn-primary btn-lg active" href="/login">Log in</a></li>
<li><a class="btn btn-primary btn-lg active" href="/logout">Log out</a></li>