<% include ./partials/header %>
<h3>Register Page</h3>
<div id="center">
<form action="/register" method="POST">
    <input class="input-group-text" type="text" name="username" placeholder="username">
    <input class="input-group-text" type="password" name="password" placeholder="password">
    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
</form>
</div>
<% include ./partials/footer %>