<% include partials/header %>
<div id="atf">
    <a href="/campgrounds">Back to camps</a>
    <form action="/campgrounds" method="POST">
        <input type="text" name="name">
        <input type="text" name="image">
        <button>Submit</button>
    </form>
</div>
<% include partials/footer %>