* {
    border: 1px dashed hotpink;
}

html {
    font-size: 2rem;
}

ul {
    list-style: none;
}

li {
    /*border: 2px solid red;*/
    border-radius: 40%;
    display: inline-block;
    border: 1px solid grey;
}

li:hover {
  background-color: grey;
  border: 1px dashed hotpink;
}

a:active {
  text-shadow: 2px 0.1rem 2px blue;
}
