@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

body {
  width: 80vw;
  border: 20px solid #bdc3c7;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
}

.post {
  margin-bottom: 20px;
  display: grid;
  grid-template-rows: auto 40px 1fr;
  grid-gap: 15px;
}

.date {
  color: #3498db;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  grid-row: 1;
}

.quote{
  border-left: 5px solid crimson;
  padding-left: 5px;
  grid-row: 3;
}

.quote:first-line {
  background-color: crimson;
  color: white;
}

.quote::first-letter {
  font-size: 2rem;
  background-color: crimson;
  border: inherit;
  border-radius: 5px;
  padding: 1px;
}

h2 {
  font-size: 2.0rem;
  font-weight: bold;
  color: #2c3e50;
    grid-row: 2;
}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
