input {
  outline: none;
}

nav {
  display: flex;
  flex-flow: column;
  align-items: center;

}
.purple-button {
  background-color: mediumpurple;
  border: none;
  box-shadow: 2px 1px 6px black;
  color: white;
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

div:not(#wrapper) {
  display: inline-block;
  height: 120px;
  width: 120px;
  border: 5px solid black;
  flex-grow: 1;
}
