<% include partials/header %>

<div id="atf-x">
  <h1 class="ui basic massive button">The Button adder site</h1>
  <button class="ui basic xxx button" type="button" name="button">First one</button>
</div>

<% include partials/header %>