<% include partials/header %>

<div id="atf-x">
  <h1 class="ui basic massive button">The Button adder site</h1>
  <% buttons.forEach(function(btn){ %>
    <button class="ui basic <%= btn.color%> button" type="button" name="button">Btn</button>
  <% }); %>
  <a class="ui basic  green huge button" href="/new">Make new button</a>
</div>

<% include partials/header %>