<% include partials/header %>

<form action="/" method="POST">
  <div class="new" id="atf-x">
    <input type="text" name="form[color]" value="">
    <input type="submit" value="Make Button">
  </div>
</form>
<% include partials/header %>