section {
  display: flex;
  flex-flow: column;
}

nav {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin: 5px;
}

.ui.button.youtube {
  align-self: center;
  width: 25%;
  font-size: 1.23rem;
  margin: 20px;
}
