html, body, h1, h2 {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: .85em;
  color: ghostwhite;
}

/* Flex-action */
#atf {
  height: 100vh;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: space-between;
  /* Formating */
  background-color: black;
}
