body {
  margin: 0;
  background-color: #666;
}

#app {
  font-family: 'Black Han Sans', sans-serif;
  color: white;
  text-align: center;
  margin-top: 50px;
  -webkid-font-smoothing: antialiased;
  -mos-osx-font-smoothing: grayscale;
}

.character-card {
  border: 2px solid #4FC08D;
  border-radius: 4px;
  cursor: pointer;
}
