body {
  margin: 0;
  background: #766;
}

#app {
  font-family: 'Libre Franklin', sans-serif;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  -webkit-font-smoothing: antialiased;
  -mos-osx-font-smoothing: grayscale;
  font-variant: small-caps;
}
