html, body, div, h1, h2, button {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 2vw;
    color: #86969C;
}

#atf {
  /* FlexBox */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

button {
  background: deepskyblue;
  color: white;
  margin: 1rem;
  padding: .82rem;
  border-radius: 13px;
  font-size: 2rem;
}

.icon {
  fill: currentcolor;
  height: 1em; width: 1em;
}

.icon-smile {
  font-size: 10rem;
  animation-name: rotate;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
